.accordion-section {
  min-height: 100dvh;
  padding-top: 10dvh;
  background: #b67540;
}

.label {
  margin: 0 5px 10px 0;
  color: #383838;
  font-size: 12px;
  font-style: italic;
  display: none;
}

.accordion {
  max-width: 1000px;
  margin: 0 auto 20px;
  padding: 20px;
  border-radius: 25px;
  background: #eaa56d;
}
.accordion__heading {
  margin-bottom: 20px;
  font-size: 30px;
  text-align: center;
}
.accordion__inner {
  padding: 5px;
  border: 1px solid #383838;
}
.accordion__tab {
  margin-bottom: 20px;
  padding: 5px;
  border: 1px solid #383838;
  display: grid;
  grid-template-rows: 40px 0fr;
  -webkit-transition: all 250ms;
  transition: all 250ms;
  row-gap: 10px;
}
.accordion__tab._active {
  grid-template-rows: 40px 1fr;
}
.accordion__tab._active .accordion__header-button-line:last-child {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.accordion__tab._active .accordion__link {
  background: #ccc;
}
.accordion__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 25px;
  border-radius: 25px;
  background: #5f256f;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
.accordion__header:hover {
  background: #8e2ca9;
}
.accordion__header-text {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}
.accordion__header-button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  height: 20px;
}
.accordion__header-button-line {
  position: absolute;
  width: 14px;
  height: 2px;
  background: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.accordion__header-button-line:last-child {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.accordion__body {
  overflow: hidden;
  border: 1px solid #383838;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.accordion__text {
  padding: 10px;
  border: 1px solid #383838;
}