.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  background: #272727;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

.link {
  font-size: 50px;
  text-align: center;
  color: #fff;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  letter-spacing: 4px;
}

/*=========================== SPECIFIC PROPERTIES ============================*/
.link {
  text-decoration: none;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(transparent)), -webkit-gradient(linear, left top, right top, from(#f00), color-stop(#ff0), color-stop(#0f0), to(#00f));
  background: linear-gradient(to right, transparent, transparent), linear-gradient(to right, #f00, #ff0, #0f0, #00f);
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  -webkit-transition: background-size 400ms;
  transition: background-size 400ms;
}

.link:hover {
  background-size: 0 3px, 100% 3px;
}